on: [push, pull_request]
name: Test
jobs:
  lint:
    # Separate golangci-lint into its own job because it can override go
    # env variables and it runs jobs in parallel:
    # https://github.com/golangci/golangci-lint-action#how-to-use
    name: Runs go linters
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: 1.17
    - uses: actions/checkout@v3
      with:
        # we depend on full git history for linters
        fetch-depth: 0
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        # Required: the version of golangci-lint is required and must be
        # specified without patch version: we always use the latest patch
        # version.
        version: v1.29
        args: --verbose --timeout=10m
  test:
    strategy:
      matrix:
        go-version: [1.18.x]
        os: [ubuntu-latest]
        os-major-version:
          - "7-opendistro"
          - "1-opensearch"
        include:
        - os-major-version: "7-opendistro"
          version: 7.10.1
          # oss-image: "docker.elastic.co/elasticsearch/elasticsearch-oss"
          oss-image: "elasticsearch"
          OS_OPENDISTRO_IMAGE: "amazon/opendistro-for-elasticsearch:1.13.3"
          OS_DASHBOARD_IMAGE: "docker.elastic.co/kibana/kibana:7.10.1"
        - os-major-version: "1-opensearch"
          version: 1.0.0
          oss-image: "opensearchproject/opensearch"
          OS_OPENDISTRO_IMAGE: "opensearchproject/opensearch:1.0.0"
          OS_DASHBOARD_IMAGE: "opensearchproject/opensearch-dashboards:1.0.0"
          OPENSEARCH_PREFIX: "plugins.security"
          OSS_ENV_VAR: "plugins.security.disabled=true"
    needs: [lint]
    name: Test against OS ${{ matrix.os-major-version }} on ${{ matrix.go-version }}/${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      OS_OPENDISTRO_IMAGE: "${{matrix.OS_OPENDISTRO_IMAGE}}"
      OS_DASHBOARD_IMAGE: "${{matrix.OS_DASHBOARD_IMAGE}}"
      OPENSEARCH_PREFIX: "${{matrix.OPENSEARCH_PREFIX}}"
      OSS_ENV_VAR: "${{matrix.OSS_ENV_VAR}}"
    steps:
    - name: Prepare tests
      run: |
        sudo sysctl -w vm.max_map_count=262144
    - name: Setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        # we depend on full git history for linters
        fetch-depth: 0
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          ~/go/pkg/mod              # Module download cache
          ~/.cache/go-build         # Build cache (Linux)
          ~/Library/Caches/go-build # Build cache (Mac)
          '%LocalAppData%\go-build' # Build cache (Windows)
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: ${{ runner.os }}-go-
    - name: Run Docker containers
      run: docker-compose up --detach
      env:
        OSS_IMAGE: "${{ matrix.oss-image }}:${{ matrix.version }}"
        OS_COMMAND: "${{matrix.OS_COMMAND}}"
    - name: Check Docker containers
      run: docker ps -a
    # While docker/OS is booting up, run the linters
    - name: Get tools
      run: |
        ./script/install-tools
    - name: Install managed version of terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.11
        terraform_wrapper: false
    - name: Run check scripts
      run: |
        ./script/test-mod-tidy
        ./script/test-terraform-fmt
    - name: Wait for Opensearch
      # ensure that OS has come up and is available
      run: |
        ./script/wait-for-endpoint --timeout=20 http://localhost:9200
    - name: Warm up OpenDistro/Opensearch
      # - OpenDistro lazily initializes its indexes, see
      #   https://github.com/opendistro-for-elasticsearch/alerting/issues/60
      run: |
        if [ -n "$OS_OPENDISTRO_IMAGE" ]; then
          ./script/wait-for-endpoint --timeout=120 http://admin:admin@localhost:9220
          curl -s -v -X POST -H 'Content-type: application/json' -d '{"name":"_warmup","type":"slack","slack":{"url": "http://www.example.com"}}' http://admin:admin@localhost:9220/_opendistro/_alerting/destinations
        fi
    - name: Dump docker logs on failure
      if: failure()
      uses: jwalton/gh-docker-logs@v2
    - name: Run the tests
      run: |
        export OPENSEARCH_URL=http://localhost:9200
        export TF_LOG=INFO
        TF_ACC=1 go test ./... -v -parallel 20 -cover -short
        # check goreleaser config for deprecations
        curl -sfL https://git.io/goreleaser | sh -s -- check
  release:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    needs: [test]
    runs-on: ubuntu-latest
    name: Release
    env:
      GITHUB_TOKEN_ENCRYPTED:
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.x
    - name: Fetch GPG information
      run: |
        export GPG_PRIVATE_KEY=${{ secrets.GPG_PRIVATE_KEY }}
        echo "::add-mask::$GPG_PRIVATE_KEY" 
        echo "GPG_PRIVATE_KEY=$GPG_PRIVATE_KEY" >> $GITHUB_ENV
        export GPG_PASSPHRASE=${{ secrets.GPG_PASSPHRASE }}
        echo "::add-mask::$GPG_PASSPHRASE" 
        echo "GPG_PASSPHRASE=$GPG_PASSPHRASE" >> $GITHUB_ENV
    - name: Import GPG key
      id: import_gpg
      uses: crazy-max/ghaction-import-gpg@v5
      with:
        gpg_private_key: ${{ env.GPG_PRIVATE_KEY }}
        passphrase: ${{ env.GPG_PASSPHRASE }}
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2.1.1
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
